<!doctype html>
<html>

    <head>
        <title><%= appName %></title>
        <link rel="stylesheet" href="./css/bootstrap.min.css">
    </head>

    <body>
        <!-- R2A: Display information about the web application including your name as the developer.
                    Display a link to the home page or a navigation bar that contains links to other pages.-->
        <h1><%= appName %></h1>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"> HOME <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add-device">REGISTER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/device-status-dashboard">STATUS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/select-device-to-update">UPDATE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/delete-device">DELETE</a>
                    </li> 
                </ul>
            </div>
        </nav>
        <br />
        <h2>About This App</h2>

        <p>Developer: Akira Sakaguchi (as1112@student.london.ac.uk) </p>
        <p>About this app: <%= appName %> is a dynamic web application that functions as a dashboard to help you to control devices in their smart home.</p>
        <p>It interacts with you to provide information related to the status of devices at home such as:</p>
            <ul>
                <li>cooling and heating systems</li>
                <li>curtains and blinds</li>
                <li>lighting, security</li>
                <li>audiovisual systems such as TV, radio, music players</li>
                <li>kitchen appliances such as fridge-freezer, hob, oven, microwave, etc.</li>
            </ul>
    </body>
</html>