<!doctype html>
<html>
    <head>
        <title><%= appName %></title>
        <script src="./js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="./css/bootstrap.min.css">

    </head>
    <body>
        <h1><%= appName%></h1>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-contents"
            aria-controls="nav-contents" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav-contents">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"> HOME <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add-device">REGISTER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/device-status-dashboard">STATUS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/select-device-to-update">UPDATE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/delete-device">DELETE</a>
                </li>
            </ul>
        </div>
    </nav>
    <br />

        <h2>Delete a Device</h2>

        <form method="POST" onsubmit="return onDeleteBtnClick()" action="/delete-device">
            <table border="1px solid;">
                <tr style="background-color: lightgrey;">
                    <th>Select one</th>
                    <th>Device ID</th>
                    <th>Device Name</th>
                    <th>Device Type</th>
                    <th>Temperature</th>
                    <th>Volume</th>
                    <th>Open/Closed</th>
                    <th>On/Off</th>
                </tr>
                <% var count = 0 %>
                <% devices.forEach(function(device){ %>
                    <% count++ %>
                <tr>
                    <td>
                        <input name="deviceId" type="radio" onchange="onRadiochanged()"
                            value="<%= device.id %>" id="<%= device.id %>" />
                    </td>
                    <!--Id Column-->
                    <td><b><%= device.id %></b></td>
                    <!--DeviceName Column-->
                    <td><b><%= device.deviceName %></b></td>

                    <!--DeviceType Column-->
                    <td><b><%= device.deviceType %></b></td>
                    <!--Temperature Column-->
                    <% if(device.temperature !=null){ %>
                    <td><b><%= device.temperature %></b></td>
                    <% } else {%><td>N/A</td>
                    <% }%>
                    <!--Volume Column-->
                    <% if(device.volume !=null){ %>
                    <td><b><%= device.volume %></b></td>
                    <% } else {%>
                    <td>N/A</td>
                    <% }%>
                    <!--Open/Closed Column-->
                    <% if(device.isOpen==0){ %>
                    <td><b>Closed</b></td>
                    <% } else if(device.isOpen==1){ %>
                    <td><b>Open</b></td>
                    <% } else { %>
                    <td>N/A</td>
                    <% } %>
                    <!--On/Off Column-->
                    <% if(device.isOn==0){ %>
                    <td><b>Off</b></td>
                    <% } else if(device.isOn==1){ %>
                    <td><b>On</b></td>
                    <% } else { %>
                    <td>N/A</td>
                    <% }%>
                </tr>
                <%}) %>
                <% if(count==0) { %>
                    <tr>
                        <td colspan="7">There's no device registered yet. Add your device <a href="/add-device">here</a></td>    
                    </tr>
                <% } %>
            </table>
            <br/>
            <button type='submit' id="submit-btn" class="btn btn-danger" disabled> DELETE </button>
        </form>
        

        <script>
        /**
         * @return: void
         * Enable the delete btn
        */
        function onRadiochanged(){
            document.getElementById("submit-btn").disabled = false;
        }
        /**
         * @return: boolean
         * Event handler for the form
         */
        function onDeleteBtnClick(){
            // check which device is to delete by getting the id
            let selectedId;
            document.getElementsByName("deviceId").forEach(radioBtn =>{
                if(radioBtn.checked) selectedId = radioBtn.id;
            })
            // Confirm if it's really okay to delte the device
            const isConfirmed = window.confirm(`You are about to delete a device with id: ${selectedId} Are you sure?`);
            return isConfirmed; // the form gets submitted when true is returned 
        }
        </script>
    </body>
</html>