<!doctype html>
<html>
    <head>
        <title><%= appName %></title>
    </head>

    <body>
        <h1><%= appName %></h1>
        <h2>UPDATE SUCCESS!</h2>
        <!--R5B Display a message indicating the update operation has been done. -->
        <ul>
            <p>Yes! <%= deviceType%> (Device ID: <%= id %>) has been successfully updated in the database.</p>        
            <p>To see the list of your devices, go <a href="device-status-dashboard">here</a>.</p>
        </ul>
    </body>

</html>