<!-- 
  C1: Code is organised into JavaScript (.js) files and template files (.html or .ejs or .pug).
  - Template files(.html and.ejs and.pug) are stored in views folder.
-->
<!doctype html>
<html>

<head>
    <title>
        <%= appTitle %>
    </title>
</head>

<body>
    <h1>
        <%= appName %>
    </h1>
    <!-- R1B: Display links to other pages or a navigation bar that contains links to other pages.-->
    <nav>
        <ul>
            <li><a href="/">TOP</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/add-device">ADD DEVICE</a></li>
            <li><a href="/device-status"> DEVICE STATUS</a></li>
            <li><a href="/update-device"> UPDATE DEVICE</a></li>
            <li><a href="/delete-device"> DELETE STATUS</a></li>
        </ul>
    </nav>

    <p>Homepage This is an example paragraph. Anything in the <strong>body</strong> tag will appear on the page, just
        like this <strong>p</strong> tag and its contents.</p>
</body>

</html>