<!-- 
  C1: Code is organised into JavaScript (.js) files and template files (.html or .ejs or .pug).
  - Template files(.html and.ejs and.pug) are stored in views folder.
-->
<!doctype html>
<html>

<head>
    <title><%= appName %></title>
</head>

<body>
        <!-- R1A: Display the name of the web application.-->
        <h1><%= appName %></h1>
        <!-- R1B: Display links to other pages or a navigation bar that contains links to other pages.-->
        <nav>
            <ul>
                <li><a href="/">TOP</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/add-device">ADD DEVICE</a></li>
                <li><a href="/device-status"> DEVICE STATUS</a></li>
                <li><a href="/select-device-to-update"> UPDATE DEVICE</a></li>
                <li><a href="/delete-device"> DELETE DEVICE</a></li>
            </ul>
        </nav>

        <h2>TOP</h2>

        <p>This web application helps you with register, delete and change settings for your smart devices. </p>
        <p>You can manages tvs, cars, smart speaker and more! </p>
    </body>
</html>