<!-- 
  C1: Code is organised into JavaScript (.js) files and template files (.html or .ejs or .pug).
  - Template files(.html and.ejs and.pug) are stored in views folder.
-->
<!doctype html>
<html>

<head>
    <title><%= appName %></title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body>
        <!-- R1A: Display the name of the web application.-->
        <h1><%= appName %></h1>
        <!-- R1B: Display links to other pages or a navigation bar that contains links to other pages.-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"> HOME <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add-device">REGISTER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/device-status-dashboard">STATUS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/select-device-to-update">UPDATE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/delete-device">DELETE</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br />
        <h2>TOP</h2>
        <br />
        <p>This web application helps you with register, delete and change settings for your smart devices. </p>
        <p>You can manages tvs, cars, smart speaker and more! </p>
    </body>
</html>