<!-- R5: Update device status page. On this page, the user select which device to update --> 
<!doctype html>
<html>
    <head>
        <title><%= appName %></title>
        <link rel="stylesheet" href="./css/bootstrap.min.css">
    </head>
    <body>
        <h1><%= appName %></h1>
        <!-- R5A Display a link to the home page or a navigation bar that contains links to other pages. -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"> HOME <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add-device">REGISTER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/device-status-dashboard">STATUS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/select-device-to-update">UPDATE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/delete-device">DELETE</a>
                </li>
            </ul>
        </div>
    </nav>
    <br />
        <h2>Update Your Device Settings</h2>
            <!--- R5A: Display a list of already added devices and then let the user choose a device from the list.-->
            <!-- R5D: Going beyond by improving R5B and R5C.
                Improvement could be achieved by letting the user update device
                status through a graphical display of the device settings like a dashboard. -->
        <form method="POST" action="/select-device-to-update">
                <table border="1px solid;">
                    <tr style="background-color: lightgrey;">
                        <th>Select one</th>
                        <th>Device ID</th>
                        <th>Device Type</th>
                        <th>Temperature</th>
                        <th>Volume</th>
                        <th>Open/Closed</th>
                        <th>On/Off</th>
                    </tr>
                    <% var count = 0 %>
                    <% devices.forEach(function(device){ %>
                        <% count++ %>
                    <tr>
                        <td>
                            <input name="id" type="radio" 
                                value="<%= device.id %>" id="<%= device.id %>" onchange="onRadiochanged()"/>
                        </td>
                        <!--Id Column-->
                        <td><b><%= device.id %></b></td>
                        <!--DeviceType Column-->
                        <td><b><%= device.deviceType %></b></td>
                        <!--Temperature Column-->
                        <% if(device.temperature !=null){ %>
                        <td><b><%= device.temperature %></b></td>
                        <% } else {%><td>N/A</td>
                        <% }%>
                        <!--Volume Column-->
                        <% if(device.volume !=null){ %>
                        <td><b><%= device.volume %></b></td>
                        <% } else {%>
                        <td>N/A</td>
                        <% }%>
                        <!--Open/Closed Column-->
                        <% if(device.isOpen==0){ %>
                        <td><b>Closed</b></td>
                        <% } else if(device.isOpen==1){ %>
                        <td><b>Open</b></td>
                        <% } else { %>
                        <td>N/A</td>
                        <% } %>
                        <!--On/Off Column-->
                        <% if(device.isOn==0){ %>
                        <td><b>Off</b></td>
                        <% } else if(device.isOn==1){ %>
                        <td><b>On</b></td>
                        <% } else { %>
                        <td>N/A</td>
                        <% }%>
                    </tr>
                    <%}) %>
                    <% if(count==0) { %>
                        <tr>
                            <td colspan="7">There's no device registered yet. Add your device <a href="/add-device">here</a></td>    
                        </tr>
                    <% } %>
                </table>
                <br/>    
            <button id="submit-btn" class="btn btn-primary" type="submit" disabled> SELECT </button>
        </form>
        <script>
            function onRadiochanged(){
                document.getElementById("submit-btn").disabled = false;
            }
        </script>
    </body>
</html>