<!-- R5: Update device status page 
    - R5A: Display a list of already added devices and then let the user choose a device
    from the list.Display a link to the home page or a navigation bar that contains links to other pages. 
    
    - R5B: Display
    data related to the chosen device found in the database to users including name, and related settings.As an example,
    if TV is selected related settings would be on / off setting, volume, and channel.If the heating system is chosen
    minimum settings, are on / off and temperature, so users can update each field.Collect form data to be passed to the
    back - end(database) and store updated device status in the database. Display a message indicating the update
    operation has been done. 
    
    - R5C: Improve R5B by automatically hiding input fields that do not apply to the chosen
    device. - R5D: Going beyond by improving R5B and R5C.Improvement could be achieved by letting the user update device
    status through a graphical display of the device settings like a dashboard. -->